<h1>SEJA BEM-VINDO!</h1>
<p>O idioma usado nesta aplicação é: <strong> <%= t('actual_locale') %> </strong></p>
<p><strong>Data:</strong> <%= l(Date.today) %></p>
<p><%= t('hello')%></p>

<%= render "menu"%>

<p>
    Você está em ambiente de <strong><%= ambiente_rails %></strong>
</p>

<p>
    Criado por: <strong><%= @nome %></strong>
    / Cursando: <strong><%= @curso %></strong>
</p>