<h1>SEJA BEM-VINDO!</h1>
<p><strong>Data:</strong> <%= data_br(Date.today) %></p>

<%= render "menu"%>

<p>
    Você está em ambiente de <strong><%= ambiente_rails %></strong>
</p>

<p>
    Criado por: <strong><%= @nome %></strong>
    / Cursando: <strong><%= @curso %></strong>
</p>